section
  h4#api-search Search

  +js.
    db.enableIndex('airlines')
    db.save('airlines', 'FYI-8098', 'this is a plain text flight')
    db.search('airlines', 'text')

  p.
    or in a Map/Reduce scenario:

  +js.
    db.addSearch('airlines', 'text').map('Riak.mapValues').run()
