section
  h4#api-exists Exists
  
  p.
    Exists is a shortcut to tell you if a document exists or not. Internally, it uses 
    <code>head</code> and checks for a <code>404</code>.
  
  +js.
    db.exists('airlines', 'AIR_FRIGGIN_MADRID')