section
  h4#api-getAll Get all
  
  p.
    Just like as with the <em>sibling conflict</em>, <code>getAll</code> will return an 
    <code>Array</code> of <code>Object</code>s with the <code>meta</code> and 
    <code>data</code> properties.
  
  +js.
    db.getAll('airlines')
  
  +js.
    db.getAll('airlines', { where: { country: 'NL', fleet: 111 } })