section
  h3#api API
  p.
    <strong>All</strong> commands take <strong>two</strong> optional last arguments: 
    <code>meta</code> (options) and <code>callback</code>, in that order, and so they 
    will not necessarily be shown below.

  include ./api-get
  include ./api-head
  include ./api-exists
  include ./api-getAll
  include ./api-buckets
  include ./api-keys
  include ./api-count
  include ./api-line-walking
  include ./api-save
  include ./api-remove
  include ./api-map-reduce
  include ./api-luwak
  include ./api-ping
  include ./api-stats
  include ./api-updateProps
  include ./api-getProps
  include ./api-search