section
  h2#development Development
  h3 Follow riak-js on Twitter: <a href="http://twitter.com/riakjs">@riakjs</a>
  
  h3 Issues
  p Please report issues <a href="http://github.com/mostlyserious/riak-js/issues">here</a>.
  
  h3 Compilation
  p Run this in the main directory to compile coffeescript to javascript as you go:
  pre
    code cake dev
  
  h3 Testing 
  p.
    Checkout the <code>spec</code> folder.
    Test with <code>cake test</code>. Requires <a href="http://vowsjs.org">Vows</a> 0.5.2.

  h3 Authors and contributors, in order of appearance

  ul
    li
      a(href="http://github.com/frank06") frank06
    li
      a(href="http://github.com/siculars") siculars
    li
      a(href='http://github.com/freshtonic') freshtonic
    li
      a(href='http://github.com/botanicus') botanicus
    li
      a(href='http://github.com/technoweenie') technoweenie
    li
      a(href='http://github.com/seancribbs') seancribbs