section
  h4#guide-uri-encoded URI-encoded bucket/keys
  p.
    An option (<code>Meta</code> property) <code>encodeUri</code> can be set to 
    <code>true</code> when you want to have your bucket and key URI-encoded. The 
    default is <code>false</code> because <code>Meta</code> is implementation-agnostic, 
    and this only makes sense for HTTP clients.