section
  h4#specs
    a(href='http://nodejs.org') Node.js
    |  
    a(href='http://wiki.basho.com') Riak
    |  client with support for HTTP and Protocol Buffers.

  +js.
    db.save('airlines', 'KLM', {fleet: 111, country: 'NL'}, { links:
      [{ bucket: 'flights', key: 'KLM-8098', tag: 'cargo' },
       { bucket: 'flights', key: 'KLM-1196', tag: 'passenger' }]
    })
    
    db.getAll('flights', { where: { ready: true }})

  ul
    li For Riak 0.12+ and node.js 0.4.x
    li Code: 
      a(href='http://github.com/mostlyserious/riak-js') mostlyserious/riak-js
    li License: 
      a(href='http://opensource.org/licenses/mit-license.php') MIT