!!! 5
html
  head
    title riak-js | node.js riak client
    include includes/head
    include includes/googleAnalytics
  body
    #content(style='position: relative')
      include includes/header
      
      include includes/mixins
      div
        include en/specs
        include en/setup
        include en/guide
        include en/callbacks
        include en/api
        include en/development

      include includes/footer
    script(src='hijs.js')
