link(rel='stylesheet', href='style.css', media='screen')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Molengo|Yanone+Kaffeesatz')
link(rel='shortcut icon', href='favicon.ico')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')